*.png
*.html
target/site
target/
.gradle
build
target/site/serenity
target/site/serenity/0eb9f8602085fbfa5916a0c66b08ccf4d74939525b4e14c04ac100bf73eb3c12.html
/history/
target
.idea
*.txt
.gradle/8.4/executionHistory/executionHistory.bin
/.gradle/8.4/executionHistory
/.gradle/8.4
*.lock
*.bin
.DS_Store
*.probe
/build/
/.gradle/
/build
/target/
/build/
*.js
*.xml
build/classes/java/test/steps/oxxopay/ReferenceSteps.class
